In [11]:
library(xts);library(caret);library(dplyr);library(zoo)
library(tidyverse);library(lubridate);library(data.table)
library(ggplot2);library(timeDate);library(Metrics);
library(hydroGOF);library(imputeTS);library(readxl);library(forecastML)

In [4]:
#df <- read.csv("2016_20_Anand_Vihar.csv", na.strings = "None")
## Data cleaning 
## Reading the excel file, starting with 12 line and giving NA as None
df <- read_xlsx('Data/Anand_Vihar_16_21.xlsx',skip = 12,na = "None")
## converting date into proper date format and selecting the relevant variable needed
df <- df %>% mutate(date = dmy_hm(`From Date`,tz="Asia/Kolkata"),PM25=`PM2.5`)%>%
select(date,PM25,AT,RH,WS,SR,WD)
head(df)

  date                PM25   AT    RH    WS   SR    WD
1 2016-01-01 01:00:00 376.00 11.43 69.00 0.30 12.25 216.25
2 2016-01-01 02:00:00 480.50 11.28 71.50 0.35 12.58 230.92
3 2016-01-01 03:00:00 486.67 11.71 71.83 0.31 12.33 203.25
4 2016-01-01 04:00:00 441.17 11.13 73.08 0.30 12.75 126.92
5 2016-01-01 05:00:00 594.83 11.01 74.75 0.30 12.58 196.42
6 2016-01-01 06:00:00 441.33 11.49 74.17 0.37 13.83  80.58

In [5]:
## Converting the data into daily time series
daily_df <- df %>%
  select(date, PM25) %>% # to check the model for PM2.5 replace PM2.5 by PM2.5
  # extract date features
  mutate(
    date = as.POSIXct(date, format = "%d-%m-%Y %H:%M"), #Date format
    hour = hour(date),
    day = day(date),
    month = month(date),
    year = year(date),
    dates = as.Date(paste0(day, "-", month, "-", year), "%d-%m-%Y"),
    PM2.5 = ifelse(PM25 <=10 ,NA,PM25)
  ) %>%
  # from hourly to daily
  group_by(dates, day, month, year) %>% ## Convert hourly to daily 
  summarise(PM2.5_daily = mean(PM2.5, na.rm = TRUE)) %>%
  mutate(week = week(dates))

## Putting NA if there are null values 
daily_df$PM2.5_daily[is.nan(daily_df$PM2.5_daily)] <- NA

`summarise()` has grouped output by 'dates', 'day', 'month'. You can override using the `.groups` argument.

In [78]:
######################## Seasonal Indexes #####################################

## We creating index of seasons from the data till May 2019

seasonalIndex <- daily_df %>% filter(dates < as.Date("2020-12-31"))


############################### daily seasonality  #######################
daily_s <- seasonalIndex %>% group_by(year, month, day) %>%
  summarize(average = mean(PM2.5_daily, na.rm = TRUE))

daily_s$average[is.nan(daily_s$average)] <- NA

## Spanning the year wise value column wise
daily_s <- daily_s %>% ungroup() %>%
  spread(year, average)
head(daily_s)

# Calcuating the mean daily index over the years (Except first and second columns)
daily_s$meanindex <- rowMeans(daily_s[, -c(1,2)], na.rm = TRUE)

## Summary mean is the mean of Mean index
summary_mean <- daily_s %>% ungroup() %>%
  summarize(summary_mean = mean(meanindex, na.rm = T))

## We merge the Summary mean with our old data frame 
daily_s <- merge(daily_s, summary_mean)

## Finally calculating the daily index by mean index/ summary mean * 100
daily_s <-
  daily_s %>% mutate(dailyindex = meanindex / summary_mean * 100)

head(daily_s)

`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.

  month day 2016     2017     2018     2019     2020
1 1     1   359.5730 199.8817 481.6250 380.2292 367.3750
2 1     2   327.9150 257.1204 359.6667 418.4688 361.6875
3 1     3   341.3188 271.6446 287.7083 412.8854 378.6765
4 1     4   480.0688 270.1217 351.6250 291.9479 216.5625
5 1     5   433.3537 246.8504 306.2500 241.6667 190.5938
6 1     6   371.7995 189.3525 324.7500 191.8542 166.8646

  month day 2016     2017     2018     2019     2020     meanindex summary_mean
1 1     1   359.5730 199.8817 481.6250 380.2292 367.3750 357.7368  139.2887
2 1     2   327.9150 257.1204 359.6667 418.4688 361.6875 344.9717  139.2887
3 1     3   341.3188 271.6446 287.7083 412.8854 378.6765 338.4467  139.2887
4 1     4   480.0688 270.1217 351.6250 291.9479 216.5625 322.0652  139.2887
5 1     5   433.3537 246.8504 306.2500 241.6667 190.5938 283.7429  139.2887
6 1     6   371.7995 189.3525 324.7500 191.8542 166.8646 248.9242  139.2887
  dailyindex
1 256.8312
2 247.6667
3 242.9822
4 231.2214
5 203.7085
6 178.7110

In [7]:
############################### weekly seasonality ###########
weekly_s <- seasonalIndex %>%
  group_by(year, week) %>%
  summarize(average = mean(PM2.5_daily, na.rm = TRUE))

## NA if the average in null
weekly_s$average[is.nan(weekly_s$average)] <- NA

## Spreading across weeks
weekly_s <- weekly_s %>% ungroup() %>%
  spread(year, average)

head(weekly_s)

# Calcuating the mean weekly index over the years
weekly_s$meanindex <- rowMeans(weekly_s[, -1], na.rm = TRUE)

## Calculting summary means
summary_mean <- weekly_s %>% ungroup() %>%
  summarize(summary_mean = mean(meanindex, na.rm = T))

## Adding summary mean
weekly_s <- merge(weekly_s, summary_mean)

## Calculating weekly index
weekly_s <-
  weekly_s %>% mutate(weeklyindex = meanindex / summary_mean * 100)

head(weekly_s)

`summarise()` has grouped output by 'year'. You can override using the `.groups` argument.

  week 2016     2017     2018     2019     2020
1 1    385.6715 239.1619 351.9375 322.8420 280.2933
2 2    349.6154 169.9775 265.8299 259.8899 175.8200
3 3    250.1298 165.8277 298.4800 283.6310 148.2443
4 4    324.5103 166.7606 201.9841 118.4670 190.7699
5 5    302.3383 178.0511 169.1964 189.1205 110.1656
6 6    219.2755 151.1387 192.8178 166.1840 158.7121

  week 2016     2017     2018     2019     2020     meanindex summary_mean
1 1    385.6715 239.1619 351.9375 322.8420 280.2933 315.9812  143.0075
2 2    349.6154 169.9775 265.8299 259.8899 175.8200 244.2265  143.0075
3 3    250.1298 165.8277 298.4800 283.6310 148.2443 229.2626  143.0075
4 4    324.5103 166.7606 201.9841 118.4670 190.7699 200.4984  143.0075
5 5    302.3383 178.0511 169.1964 189.1205 110.1656 189.7744  143.0075
6 6    219.2755 151.1387 192.8178 166.1840 158.7121 177.6256  143.0075
  weeklyindex
1 220.9543
2 170.7788
3 160.3150
4 140.2013
5 132.7024
6 124.2072

In [8]:
############################### monthly seasonality ##############################

## Grouping by year and month
monthly_s <- seasonalIndex %>%
  group_by(year, month) %>%
  summarize(average = mean(PM2.5_daily, na.rm = TRUE))

## Adding NA values if there are any null values of any sort 
monthly_s$average[is.nan(monthly_s$average)] <- NA

## Spreading across months 
monthly_s <- monthly_s %>% ungroup() %>%
  spread(year, average)

head(monthly_s)

# Calcuating the mean weekly index over the years (-1 to remove first column which is month)
monthly_s$meanindex <- rowMeans(monthly_s[, -1], na.rm = TRUE)

## Summary mean of the mean index
summary_mean <- monthly_s %>% ungroup() %>%
  summarize(summary_mean = mean(meanindex, na.rm = T))

## Merging the summary mean with the data frame
monthly_s <- merge(monthly_s, summary_mean)

## Adding the Monthly index
monthly_s <-
  monthly_s %>% mutate(monthlyindex = meanindex / summary_mean * 100)
head(monthly_s)

`summarise()` has grouped output by 'year'. You can override using the `.groups` argument.

  month 2016      2017     2018     2019      2020
1 1     329.30722 182.5829 265.5462 235.87494 182.17713
2 2     166.68875 138.3392 161.2071 141.88165 123.95736
3 3     121.33565 113.1674 119.2262 106.87930  67.84059
4 4     149.94428 129.5753 115.1012  98.01637  47.16792
5 5     101.07827 150.6213 107.3090 111.00798  73.74467
6 6      92.98106 102.3051 112.9941  73.47000  64.44216

  month 2016      2017     2018     2019      2020      meanindex summary_mean
1 1     329.30722 182.5829 265.5462 235.87494 182.17713 239.09769 141.2325
2 2     166.68875 138.3392 161.2071 141.88165 123.95736 146.41480 141.2325
3 3     121.33565 113.1674 119.2262 106.87930  67.84059 105.68983 141.2325
4 4     149.94428 129.5753 115.1012  98.01637  47.16792 107.96101 141.2325
5 5     101.07827 150.6213 107.3090 111.00798  73.74467 108.75225 141.2325
6 6      92.98106 102.3051 112.9941  73.47000  64.44216  89.23849 141.2325
  monthlyindex
1 169.29371
2 103.66937
3  74.83395
4  76.44206
5  77.00230
6  63.18553

In [9]:

############# Join the indexes to original daily data
daily_s <- daily_s %>% select(month, day, dailyindex)
daily_df <- daily_df %>% left_join(daily_s, by = c("month", "day"))

monthly_s <- monthly_s %>% select(month, monthlyindex)
daily_df <- daily_df %>% left_join(monthly_s, by = c("month"))

weekly_s <- weekly_s %>% select(week, weeklyindex)
daily_df <- daily_df %>% left_join(weekly_s, by = c("week"))

head(daily_df)
## Removing the unnecessary data frames 
rm(daily_s)
rm(monthly_s)
rm(weekly_s)
rm(summary_mean)
rm(seasonalIndex)

  dates      day month year PM2.5_daily week dailyindex monthlyindex
1 2016-01-01 1   1     2016 359.5730    1    256.8312   169.2937
2 2016-01-02 2   1     2016 327.9150    1    247.6667   169.2937
3 2016-01-03 3   1     2016 341.3188    1    242.9822   169.2937
4 2016-01-04 4   1     2016 480.0688    1    231.2214   169.2937
5 2016-01-05 5   1     2016 433.3537    1    203.7085   169.2937
6 2016-01-06 6   1     2016 371.7995    1    178.7110   169.2937
  weeklyindex
1 220.9543
2 220.9543
3 220.9543
4 220.9543
5 220.9543
6 220.9543

In [57]:
################### Data manipulation using forecastML
## Fill_gaps is a function from forecatML to see if there are missing value it creates
## an evenly spaced data frame
daily_ts <- fill_gaps(daily_df, date_col = 1, frequency = "1 day")
dates <- daily_ts$dates
daily_ts$dates <- NULL
daily_ts$day <- NULL
daily_ts$month <- NULL
daily_ts$week <- NULL
head(daily_ts)

  year PM2.5_daily dailyindex monthlyindex weeklyindex
1 2016 359.5730    256.8312   169.2937     220.9543
2 2016 327.9150    247.6667   169.2937     220.9543
3 2016 341.3188    242.9822   169.2937     220.9543
4 2016 480.0688    231.2214   169.2937     220.9543
5 2016 433.3537    203.7085   169.2937     220.9543
6 2016 371.7995    178.7110   169.2937     220.9543

In [68]:
## Now creating a training data frame with lookback of 7 days 
data_lagged <-
  create_lagged_df(
    daily_ts, ## data frame
    type = "train", ## training 
    outcome_col = 2,## Output column is PM2.5 
    horizons = 1, ## Horizons is used if you want to use different models in different time frames
    lookback = c(1:15),## Lookback of 7 hour
    dates = dates, ## dates vector
    dynamic_features = c("year", "dailyindex", "monthlyindex", "weeklyindex"), ## dynamic features of index
    frequency = "1 day" ## Frequency is 1 day
  )
## Looking at the first horizon data frame
head(data_lagged$horizon_1)

   PM2.5_daily PM2.5_daily_lag_1 PM2.5_daily_lag_2 PM2.5_daily_lag_3
16 143.2367    182.7496          259.6646          313.1204
17 200.1717    143.2367          182.7496          259.6646
18 335.4121    200.1717          143.2367          182.7496
19 322.0700    335.4121          200.1717          143.2367
20 307.6042    322.0700          335.4121          200.1717
21 234.4342    307.6042          322.0700          335.4121
   PM2.5_daily_lag_4 PM2.5_daily_lag_5 PM2.5_daily_lag_6 PM2.5_daily_lag_7
16 286.4671          409.0429          281.5725          169.4908
17 313.1204          286.4671          409.0429          281.5725
18 259.6646          313.1204          286.4671          409.0429
19 182.7496          259.6646          313.1204          286.4671
20 143.2367          182.7496          259.6646          313.1204
21 200.1717          143.2367          182.7496          259.6646
   PM2.5_daily_lag_8 PM2.5_daily_lag_9 PM2.5_daily_lag_10 PM2.5_daily_lag_11
16 519.5942          468.0200          371.7995           433.3537
17 169.4908          519.5942          468.0200           371.7995
18 281.5725          169.4908          519.5942           468.0200
19 409.0429          281.5725          169.4908           519.5942
20 286.4671          409.0429          281.5725           169.4908
21 313.1204          286.4671          409.0429           281.5725
   PM2.5_daily_lag_12 PM2.5_daily_lag_13 PM2.5_daily_lag_14 PM2.5_daily_lag_15
16 480.0688           341.3188           327.9150           359.5730
17 433.3537           480.0688           341.3188           327.9150
18 371.7995           433.3537           480.0688           341.3188
19 468.0200           371.7995           433.3537           480.0688
20 519.5942           468.0200           371.7995           433.3537
21 169.4908           519.5942           468.0200           371.7995
   year dailyindex monthlyindex weeklyindex
16 2016 140.0407   169.2937     160.3150
17 2016 164.4781   169.2937     160.3150
18 2016 201.6707   169.2937     160.3150
19 2016 195.6573   169.2937     160.3150
20 2016 178.2341   169.2937     160.3150
21 2016 150.1126   169.2937     140.2013

In [69]:
data_lagged <- data_lagged$horizon_1
## Filtering in train and test and then removing the NA values
#data_train <- data_lagged %>% filter(dates <  ymd("2021-01-01")) %>% drop_na()
#data_test <- data_lagged %>% filter(dates >= ymd("2021-01-01")) %>% drop_na()
#head(data_test)
data_train <- data_lagged %>% filter(year < 2021) %>% drop_na()
data_test <- data_lagged %>% filter(year >= 2021) %>% drop_na()
head(data_test)

  PM2.5_daily PM2.5_daily_lag_1 PM2.5_daily_lag_2 PM2.5_daily_lag_3
1 477.9559    298.4167          191.1667          141.8438
2 317.2344    477.9559          298.4167          191.1667
3 148.0729    317.2344          477.9559          298.4167
4 112.4271    148.0729          317.2344          477.9559
5  85.0000    112.4271          148.0729          317.2344
6 148.0000     85.0000          112.4271          148.0729
  PM2.5_daily_lag_4 PM2.5_daily_lag_5 PM2.5_daily_lag_6 PM2.5_daily_lag_7
1  95.98958         269.50000         274.85417         230.68750
2 141.84375          95.98958         269.50000         274.85417
3 191.16667         141.84375          95.98958         269.50000
4 298.41667         191.16667         141.84375          95.98958
5 477.95588         298.41667         191.16667         141.84375
6 317.23438         477.95588         298.41667         191.16667
  PM2.5_daily_lag_8 PM2.5_daily_lag_9 PM2.5_daily_lag_10 PM2.5_daily_lag_11
1 357.85417         421.92105         470.5625           274.9271
2 230.68750         357.85417         421.9211           470.5625
3 274.85417         230.68750         357.8542           421.9211
4 269.50000         274.85417         230.6875           357.8542
5  95.98958         269.50000         274.8542           230.6875
6 141.84375          95.98958         269.5000           274.8542
  PM2.5_daily_lag_12 PM2.5_daily_lag_13 PM2.5_daily_lag_14 PM2.5_daily_lag_15
1 224.0833           167.9688           150.4792           156.1364
2 274.9271           224.0833           167.9688           150.4792
3 470.5625           274.9271           224.0833           167.9688
4 421.9211           470.5625           274.9271           224.0833
5 357.8542           421.9211           470.5625           274.9271
6 230.6875           357.8542           421.9211           470.5625
  year dailyindex monthlyindex weeklyindex
1 2021 256.8312   169.2937     220.9543
2 2021 247.6667   169.2937     220.9543
3 2021 242.9822   169.2937     220.9543
4 2021 231.2214   169.2937     220.9543
5 2021 203.7085   169.2937     220.9543
6 2021 178.7110   169.2937     220.9543

In [70]:
#data_train$year <- as.factor(data_train$year)
# Defining train control for 10 fold Crossvalidation 
tc <- trainControl(method="cv", number = 10)
lm1_cv <- train(PM2.5_daily ~., method="lm",
                   data = data_train,trControl=tc)
lm1_cv

Linear Regression

1186 samples
  19 predictor

No pre-processing
Resampling: Cross-Validated (10 fold)
Summary of sample sizes: 1067, 1066, 1067, 1068, 1067, 1067, ...
Resampling results:

  RMSE      Rsquared   MAE
  52.01668  0.8184375  35.92936

Tuning parameter 'intercept' was held constant at a value of TRUE

In [71]:
lasso1_cv <- train(PM2.5_daily ~., method="glmnet",data = data_train,trControl=tc,
                      tuneGrid=expand.grid(alpha=1,lambda=0))
lasso1_cv

glmnet

1186 samples
  19 predictor

No pre-processing
Resampling: Cross-Validated (10 fold)
Summary of sample sizes: 1066, 1066, 1066, 1069, 1067, 1070, ...
Resampling results:

  RMSE      Rsquared   MAE
  51.99433  0.8186676  35.89352

Tuning parameter 'alpha' was held constant at a value of 1
Tuning
 parameter 'lambda' was held constant at a value of 0

In [72]:
rf1_cv <- train(PM2.5_daily ~., method="rf",
                   data = data_train,trControl=tc)
rf1_cv

Random Forest

1186 samples
  19 predictor

No pre-processing
Resampling: Cross-Validated (10 fold)
Summary of sample sizes: 1067, 1068, 1068, 1066, 1068, 1068, ...
Resampling results across tuning parameters:

  mtry  RMSE      Rsquared   MAE
   2    59.11863  0.7686363  39.80967
  10    55.77452  0.7903816  36.54191
  19    56.28936  0.7859226  36.71801

RMSE was used to select the optimal model using the smallest value.
The final value used for the model was mtry = 10.

In [73]:
tg_gbm_d <- expand.grid(shrinkage = seq(0.1, 1, by = 0.2), 
                      interaction.depth = c(1, 3, 7, 10),
                      n.minobsinnode = c(2, 5, 10),
                      n.trees = c(100, 300, 500))
# Gradient Boosting method
gbm1_cv <- caret::train(PM2.5_daily ~., 
                             method="gbm",tuneGrid=tg_gbm_d,
                           data = data_train,trControl=tc,verbose=FALSE)
gbm1_cv

Stochastic Gradient Boosting

1186 samples
  19 predictor

No pre-processing
Resampling: Cross-Validated (10 fold)
Summary of sample sizes: 1067, 1066, 1068, 1067, 1069, 1067, ...
Resampling results across tuning parameters:

  shrinkage  interaction.depth  n.minobsinnode  n.trees  RMSE       Rsquared
  0.1         1                  2              100       56.20133  0.7872956
  0.1         1                  2              300       56.57186  0.7837922
  0.1         1                  2              500       57.23994  0.7786146
  0.1         1                  5              100       56.47773  0.7844769
  0.1         1                  5              300       56.70785  0.7816904
  0.1         1                  5              500       57.19090  0.7774499
  0.1         1                 10              100       56.51974  0.7840431
  0.1         1                 10              300       56.84412  0.7800067
  0.1         1                 10              500       57.23845  0.7766353
  0.1         3                  2              100       56.69662  0.7824549
  0.1         3                  2              300       58.57795  0.7682064
  0.1         3                  2              500       59.96283  0.7579605
  0.1         3                  5              100       56.98149  0.7791018
  0.1         3                  5              300       58.78348  0.7646412
  0.1         3                  5              500       59.75897  0.7572474
  0.1         3                 10              100       56.49637  0.7827532
  0.1         3                 10              300       58.35020  0.7687251
  0.1         3                 10              500       59.67002  0.7589053
  0.1         7                  2              100       57.69636  0.7738236
  0.1         7                  2              300       59.22466  0.7627216
  0.1         7                  2              500       59.95535  0.7571074
  0.1         7                  5              100       57.32940  0.7783446
  0.1         7                  5              300       59.49281  0.7618530
  0.1         7                  5              500       60.18466  0.7571849
  0.1         7                 10              100       58.46035  0.7680918
  0.1         7                 10              300       60.50448  0.7521361
  0.1         7                 10              500       61.25874  0.7465457
  0.1        10                  2              100       59.39878  0.7624931
  0.1        10                  2              300       60.97979  0.7509680
  0.1        10                  2              500       61.22121  0.7492566
  0.1        10                  5              100       59.07659  0.7640244
  0.1        10                  5              300       60.85948  0.7497827
  0.1        10                  5              500       61.64987  0.7436593
  0.1        10                 10              100       57.61389  0.7734135
  0.1        10                 10              300       60.42664  0.7516227
  0.1        10                 10              500       61.43653  0.7436007
  0.3         1                  2              100       59.46858  0.7620752
  0.3         1                  2              300       60.20616  0.7564291
  0.3         1                  2              500       61.25553  0.7480241
  0.3         1                  5              100       59.36688  0.7601867
  0.3         1                  5              300       60.47069  0.7518221
  0.3         1                  5              500       60.79783  0.7484799
  0.3         1                 10              100       58.21747  0.7693169
  0.3         1                 10              300       59.46634  0.7602002
  0.3         1                 10              500       60.17382  0.7552005
  0.3         3                  2              100       63.11686  0.7298468
  0.3         3                  2              300       65.78103  0.7123349
  0.3         3                  2              500       66.91707  0.7044881
  0.3         3                  5              100       60.21942  0.7553429
  0.3         3                  5              300       63.64840  0.7315171
  0.3         3                  5              500       65.03997  0.7213086
  0.3         3                 10              100       62.13023  0.7415591
  0.3         3                 10              300       64.70544  0.7245045
  0.3         3                 10              500       66.38898  0.7127990
  0.3         7                  2              100       64.05665  0.7280461
  0.3         7                  2              300       65.20296  0.7206898
  0.3         7                  2              500       65.42905  0.7187877
  0.3         7                  5              100       66.25302  0.7105934
  0.3         7                  5              300       68.12364  0.6964034
  0.3         7                  5              500       68.22576  0.6956466
  0.3         7                 10              100       65.00756  0.7247321
  0.3         7                 10              300       66.18403  0.7161345
  0.3         7                 10              500       66.35542  0.7140972
  0.3        10                  2              100       66.76823  0.7089614
  0.3        10                  2              300       67.32731  0.7048938
  0.3        10                  2              500       67.36044  0.7047089
  0.3        10                  5              100       63.91553  0.7304581
  0.3        10                  5              300       64.95849  0.7232596
  0.3        10                  5              500       65.03401  0.7226718
  0.3        10                 10              100       64.92766  0.7213314
  0.3        10                 10              300       66.33277  0.7116550
  0.3        10                 10              500       66.42650  0.7109441
  0.5         1                  2              100       62.26774  0.7374245
  0.5         1                  2              300       63.63182  0.7295328
  0.5         1                  2              500       63.93872  0.7260091
  0.5         1                  5              100       61.98391  0.7385851
  0.5         1                  5              300       62.27697  0.7378166
  0.5         1                  5              500       64.07786  0.7258142
  0.5         1                 10              100       62.07472  0.7387795
  0.5         1                 10              300       63.52417  0.7291555
  0.5         1                 10              500       65.06314  0.7169776
  0.5         3                  2              100       71.27465  0.6752126
  0.5         3                  2              300       76.34835  0.6390952
  0.5         3                  2              500       77.46281  0.6305256
  0.5         3                  5              100       69.36077  0.6866102
  0.5         3                  5              300       73.99839  0.6527590
  0.5         3                  5              500       74.90354  0.6451665
  0.5         3                 10              100       69.41222  0.6885959
  0.5         3                 10              300       73.82331  0.6562860
  0.5         3                 10              500       74.78666  0.6495064
  0.5         7                  2              100       73.56219  0.6734691
  0.5         7                  2              300       75.35363  0.6611364
  0.5         7                  2              500       75.55663  0.6599050
  0.5         7                  5              100       72.03697  0.6723499
  0.5         7                  5              300       74.16717  0.6561704
  0.5         7                  5              500       74.25278  0.6554960
  0.5         7                 10              100       71.94841  0.6726476
  0.5         7                 10              300       73.79701  0.6583842
  0.5         7                 10              500       73.47319  0.6607843
  0.5        10                  2              100       75.46820  0.6439577
  0.5        10                  2              300       76.06305  0.6391152
  0.5        10                  2              500       76.05696  0.6392423
  0.5        10                  5              100       73.11460  0.6611092
  0.5        10                  5              300       74.47954  0.6502357
  0.5        10                  5              500       74.49266  0.6501176
  0.5        10                 10              100       76.98939  0.6341676
  0.5        10                 10              300       77.67600  0.6307425
  0.5        10                 10              500       77.69918  0.6307201
  0.7         1                  2              100       62.57761  0.7411394
  0.7         1                  2              300       66.78195  0.7113900
  0.7         1                  2              500       67.57712  0.7025519
  0.7         1                  5              100       63.25462  0.7317444
  0.7         1                  5              300       62.85274  0.7330004
  0.7         1                  5              500       63.52089  0.7296896
  0.7         1                 10              100       64.42950  0.7219021
  0.7         1                 10              300       65.26394  0.7153242
  0.7         1                 10              500       67.66587  0.6991877
  0.7         3                  2              100       77.00908  0.6269546
  0.7         3                  2              300       82.14950  0.5977910
  0.7         3                  2              500       84.21045  0.5869537
  0.7         3                  5              100       77.87235  0.6263882
  0.7         3                  5              300       83.82983  0.5826502
  0.7         3                  5              500       83.99774  0.5813923
  0.7         3                 10              100       74.21751  0.6636496
  0.7         3                 10              300       80.75934  0.6200838
  0.7         3                 10              500       82.29812  0.6076637
  0.7         7                  2              100       86.09774  0.5882543
  0.7         7                  2              300       87.96479  0.5781710
  0.7         7                  2              500       88.03251  0.5779967
  0.7         7                  5              100       84.12381  0.5837524
  0.7         7                  5              300       86.17618  0.5695127
  0.7         7                  5              500       86.23939  0.5684092
  0.7         7                 10              100       81.03317  0.6099322
  0.7         7                 10              300       82.72894  0.5992700
  0.7         7                 10              500       82.87632  0.5981828
  0.7        10                  2              100       92.46092  0.5558595
  0.7        10                  2              300       93.60930  0.5496102
  0.7        10                  2              500       93.62596  0.5493605
  0.7        10                  5              100       96.10878  0.5305980
  0.7        10                  5              300       96.73200  0.5274095
  0.7        10                  5              500       96.74863  0.5272272
  0.7        10                 10              100       89.33609  0.5637119
  0.7        10                 10              300       89.96544  0.5600755
  0.7        10                 10              500       90.02390  0.5596023
  0.9         1                  2              100       67.26014  0.7122266
  0.9         1                  2              300       70.62663  0.6867147
  0.9         1                  2              500       73.33223  0.6644190
  0.9         1                  5              100       67.27314  0.6991418
  0.9         1                  5              300       68.09110  0.6958518
  0.9         1                  5              500       68.44700  0.6977151
  0.9         1                 10              100       65.08382  0.7186769
  0.9         1                 10              300       68.32723  0.6966755
  0.9         1                 10              500       69.66506  0.6848762
  0.9         3                  2              100       93.38273  0.5251062
  0.9         3                  2              300      104.52106  0.4630337
  0.9         3                  2              500      107.06832  0.4466825
  0.9         3                  5              100       89.89641  0.5620518
  0.9         3                  5              300       99.88536  0.5097102
  0.9         3                  5              500      102.72282  0.5001049
  0.9         3                 10              100       87.99975  0.5518289
  0.9         3                 10              300       96.17492  0.5076730
  0.9         3                 10              500       99.00378  0.4917165
  0.9         7                  2              100      115.26476  0.4369369
  0.9         7                  2              300      124.58925  0.4030991
  0.9         7                  2              500      125.29582  0.4004980
  0.9         7                  5              100      104.15180  0.5211878
  0.9         7                  5              300      111.16303  0.4883779
  0.9         7                  5              500      111.49894  0.4861097
  0.9         7                 10              100      102.86201  0.4687453
  0.9         7                 10              300      106.45884  0.4490922
  0.9         7                 10              500      106.36995  0.4492175
  0.9        10                  2              100      126.13044  0.3628396
  0.9        10                  2              300      130.77010  0.3502177
  0.9        10                  2              500      130.77624  0.3506986
  0.9        10                  5              100      117.42737  0.4042905
  0.9        10                  5              300      119.87897  0.3968173
  0.9        10                  5              500      120.28912  0.3941268
  0.9        10                 10              100      113.69504  0.4220692
  0.9        10                 10              300      116.54539  0.4036786
  0.9        10                 10              500      116.67937  0.4024706
  MAE
  37.87495
  37.54841
  37.83367
  38.20466
  37.73285
  37.95879
  37.87810
  37.60444
  37.71070
  37.08311
  38.08164
  39.06223
  37.28098
  38.07938
  38.43026
  37.04627
  38.04182
  39.01858
  37.41273
  38.73545
  39.22413
  37.11591
  38.65680
  39.13333
  38.02776
  39.30977
  39.93426
  38.38705
  39.45940
  39.59148
  38.07209
  39.59312
  40.04023
  38.14759
  39.92252
  40.67688
  39.48560
  40.01909
  40.75561
  39.39114
  39.52095
  40.13256
  38.76039
  39.27853
  39.78602
  41.23247
  42.90571
  43.92131
  39.76957
  41.87197
  42.65137
  40.54219
  42.22554
  43.41484
  42.62122
  43.80838
  44.07551
  42.71169
  44.87046
  44.93189
  43.09681
  44.24859
  44.38273
  43.84579
  44.39379
  44.43029
  42.77217
  43.80876
  43.90351
  42.93163
  44.31881
  44.38929
  40.99137
  41.88095
  42.34101
  41.62172
  41.22792
  41.95013
  41.53069
  41.99185
  42.77874
  46.27377
  50.37579
  51.45970
  44.78798
  48.89311
  50.24401
  45.79941
  49.49470
  50.40858
  50.12339
  51.95070
  52.08291
  49.00095
  51.35098
  51.42986
  47.26416
  49.07192
  48.80834
  50.38704
  51.22422
  51.22574
  50.42066
  51.72778
  51.76063
  51.29244
  52.55328
  52.57844
  41.73266
  43.27520
  44.13627
  41.96289
  41.97660
  42.44682
  43.18799
  43.18390
  44.11630
  50.17847
  56.49706
  58.23113
  50.59920
  57.06879
  57.24143
  48.12471
  54.95298
  56.97269
  59.24259
  61.72395
  61.66861
  56.94269
  59.48002
  59.52822
  55.90284
  58.22183
  58.32114
  63.51545
  64.61602
  64.62600
  64.76990
  65.86270
  65.91007
  61.11570
  62.13815
  62.19389
  44.80264
  45.58099
  46.83389
  44.75023
  45.04376
  46.17059
  43.19310
  45.02942
  46.19293
  58.69398
  68.37228
  72.24713
  57.74389
  67.60875
  71.39448
  57.16247
  64.97072
  68.11803
  77.56384
  87.25201
  87.99076
  71.63802
  79.80862
  80.26825
  69.15374
  74.22646
  74.20284
  83.53910
  89.87317
  89.82238
  80.77210
  84.09643
  84.62598
  77.49742
  81.52469
  81.84300

RMSE was used to select the optimal model using the smallest value.
The final values used for the model were n.trees = 100, interaction.depth =
 1, shrinkage = 0.1 and n.minobsinnode = 2.

In [74]:
nnetGrid <-  expand.grid(size = seq(from = 5, to = 40, by = 10),
                         decay = seq(from = 0.1, to = 0.5, by = 0.1))
set.seed(123)
# Neural Network model
nn1_cv <- caret::train(PM2.5_daily ~., method="nnet",
                          data = data_train,tuneGrid=nnetGrid,trControl=tc,linout=TRUE, linear.output=TRUE,trace = FALSE,metric="RMSE",verbose=FALSE)
nn1_cv

Warning message in nominalTrainWorkflow(x = x, y = y, wts = weights, info = trainInfo, :
“There were missing values in resampled performance measures.”

Neural Network

1186 samples
  19 predictor

No pre-processing
Resampling: Cross-Validated (10 fold)
Summary of sample sizes: 1067, 1066, 1069, 1067, 1068, 1069, ...
Resampling results across tuning parameters:

  size  decay  RMSE      Rsquared   MAE
   5    0.1    92.09726  0.5787070  68.49808
   5    0.2    80.08531  0.5806312  56.79226
   5    0.3    84.42034  0.5766972  61.34240
   5    0.4    82.42574  0.6050630  58.64293
   5    0.5    82.47228  0.5416981  58.66775
  15    0.1    99.29400  0.4529926  75.02134
  15    0.2    81.30647  0.5596245  59.32310
  15    0.3    81.78903  0.5518439  58.49250
  15    0.4    78.60378  0.5854918  56.01394
  15    0.5    80.38876  0.5656422  55.70822
  25    0.1    93.00340  0.5725823  69.53990
  25    0.2    85.75453  0.5444121  62.20521
  25    0.3    78.36708  0.5942091  56.22462
  25    0.4    77.75022  0.6056934  55.42235
  25    0.5    81.28960  0.5547292  58.07024
  35    0.1    81.45781  0.5519354  58.84289
  35    0.2    78.04339  0.5902375  55.47422
  35    0.3    79.22124  0.5817037  56.56271
  35    0.4    80.03396  0.5809933  56.83227
  35    0.5    78.49547  0.5828373  56.06236

RMSE was used to select the optimal model using the smallest value.
The final values used for the model were size = 25 and decay = 0.4.

In [75]:
model_list <- list(lm=lm1_cv,rf=rf1_cv,glmnet=lasso1_cv,rf=rf1_cv,nnet=nn1_cv,gbm=gbm1_cv)
res <- resamples(model_list)
# Getting the summary of the models
summary(res)

Call:
summary.resamples(object = res)

Models: lm, rf, glmnet, rf, nnet, gbm
Number of resamples: 10

MAE
           Min.  1st Qu.   Median     Mean  3rd Qu.     Max. NA's
rf     31.39389 34.56492 36.73979 36.54191 37.80281 41.79440    0
lm     27.51809 34.16762 34.97423 35.92936 38.19371 45.07127    0
glmnet 29.20627 32.50154 35.77476 35.89352 37.57224 45.10500    0
nnet   46.42443 53.95139 55.33777 55.42235 57.39048 61.04822    0
gbm    33.92594 35.50666 37.90167 37.87495 39.36533 44.05849    0

RMSE
           Min.  1st Qu.   Median     Mean  3rd Qu.     Max. NA's
rf     45.86318 51.82537 55.93055 55.77452 61.50984 64.58208    0
lm     38.05997 48.25582 49.75096 52.01668 56.46298 66.98267    0
glmnet 41.94612 46.10085 50.62107 51.99433 56.55134 64.23758    0
nnet   65.12288 73.67729 75.04247 77.75022 84.84477 93.45067    0
gbm    49.25874 50.00321 56.25624 56.20133 61.76810 64.03411    0

Rsquared
            Min.   1st Qu.    Median      Mean   3rd Qu.      Max. NA's
rf     0.6825380 0.7650342 0.8108887 0.7903816 0.8133708 0.8450296    0
lm     0.7779888 0.7954778 0.8145961 0.8184375 0.8371010 0.8866585    0
glmnet 0.7657344 0.7923359 0.8169916 0.8186676 0.8453412 0.8789862    0
nnet   0.4902872 0.5534819 0.6076247 0.6056934 0.6624062 0.6904765    0
gbm    0.7452761 0.7680650 0.7848326 0.7872956 0.8058674 0.8294717    0

In [77]:
pred_lm <- predict(lasso1_cv, data_test)
R2(data_test$PM2.5_daily,pred_lm)
MAE(data_test$PM2.5_daily,pred_lm)

[1] 0.5169162

[1] 53.38833