In [3]:
## Loading packages
library(openair);library(dplyr);library(tidyverse);library(lubridate);library(readxl)

In [19]:
## Data cleaning 
## Reading the excel file, starting with 12 line and giving NA as None
data <- read_xlsx('Data/Anand_Vihar_16_20.xlsx',skip = 12,na = "None")
## converting date into proper date format and selecting the relevant variable needed
data <- data %>% mutate(date = dmy_hm(`From Date`,tz="Asia/Kolkata"),PM25='PM2.5')%>%
select(date,PM25,Temp,RH,WS,SR)
head(data)

  date                PM25  Temp  RH    WS   SR
1 2016-01-01 01:00:00 PM2.5 11.43 69.00 0.30 12.25
2 2016-01-01 02:00:00 PM2.5 11.28 71.50 0.35 12.58
3 2016-01-01 03:00:00 PM2.5 11.71 71.83 0.31 12.33
4 2016-01-01 04:00:00 PM2.5 11.13 73.08 0.30 12.75
5 2016-01-01 05:00:00 PM2.5 11.01 74.75 0.30 12.58
6 2016-01-01 06:00:00 PM2.5 11.49 74.17 0.37 13.83